/* RESET */
*{
    margin: 0;
    padding: 0;
}
/* BODY GOOGLE FONTS*/
body{
    font-family: 'Lato', sans-serif;
    font-size: 1.2rem;
}

/* Form - Datos Personales */

.h2__form{
    margin: 1.5em;
    color:rgb(12, 12, 94);
}

.fieldset__container{
    width: 35%;
    display: flex;
    flex-direction: column;
    margin: 1.5rem;
    border:rgb(12, 12, 94) solid 3px;
    background-color: rgb(232, 232, 243);
    
    
    
}
.legend__datosPersonales{
    font-size:medium;
    padding: 0.4rem;
    color: white;
    font-weight: bolder;
    background-color: rgb(12, 12, 94);
    border-radius: 5px;
}

label{
    font-size: medium;
    padding: 0.5rem;
    font-weight: bold;
    
}

input{
    width: 95%;
    font-size: medium;
    margin-left: 5px;
}

.type__radio{
    font-size: small;
    display: flex;
    flex-direction: column;
   align-content: center;
   align-items: center;
   margin-bottom: 10px;
   color:rgb(12, 12, 94) ;
    
}

.form__submit{
    color:white;
    background-color: rgb(12, 12, 94);
    font-size: medium;
    width: 12%;
    border-radius: 5px;
    padding: 0.5rem;
    margin: 1.5rem;
}

.textarea__form{
    margin: 1rem;
    font-size: large;
}

.input__form-file{
    padding: 1rem;
    color:rgb(12, 12, 94);  
    border-radius: 5px;
    padding: 0.5rem;
    margin: 1.5rem;
}
/*  */